<!--
  게임 이미지 나오는 레이아웃 (좌측 상단))
  클릭 시 게임 시작
  -->
<div class="center game image">
  <a (click)="start()">
    <img src="{{ game.imageUrl }}"/>
  </a>
</div>

<!--
  블록 상태를 보여주는 레이아웃 (우측)
  -->
<div class="game window">
  <h1 *ngFor="let result of results">
    <p *ngIf="result === FORWARD">앞으로</p>
    <p *ngIf="result === BACKWARD">뒤로</p>
    <p *ngIf="result === TURNRIGHT">우회전</p>
    <p *ngIf="result === TURNLEFT">좌회전</p>
  </h1>
</div>

<!--
  게임의 진행 상황을 출력해주는 레이아웃 (좌측 하단)
  -->
<div class="game status">
  <p *ngIf="!isTutorialFinished">
    앞으로 가는 블록을 하나만 연결해주세요.  최적해상도 800 400 )
  </p>
  <p *ngIf="isTutorialFinished">
    잘했어요!
  </p>
</div>

<div class="game button">
    <input type="button" value="게임">
    <input type="button" value="게임">

  </div>