
.game{
  border: 2px solid #fffcdf;
}

.window{
     border: 2px solid #fffcdf;
     width: 20%;
     height: 512px;
     margin: 0px auto;
     padding: 10px;
     float:right;
}

.image{
    border: 2px solid #fffcdf;
    float: left;
    width: 512px;
    height: 512px;
    margin: 0px auto;
    padding: 10px;
}

.status{
    clear: both;
    width: 512px;
    height: auto;
    border: 2px solid #fffcdf;
    padding: 10px;
    float:left;
}

.button{
    float:right;
    width: 20%;
    padding:10px;
    margin: 0px auto;
     border: 2px solid #fffcdf;
}