<header>
    <div class="title_image">
        <img src="../assets/images/title_m2.png" />
    </div>
</header>
<div class="grid grid-pad">
    <a *ngFor="let game of games" [routerLink]="['/game', game.id]" class="col-mid-12" (click)="onSelect(game)">
        <div class="game detail">
            <h4>{{ game.detail }}</h4>
        </div>
        <div class="game image">
            <img src=" {{ game.imageUrl}}" />
        </div>
    </a>
</div>
<footer>
    <p>
        2017 © KNOW ANSWER
    </p>
</footer>