.title_image {
    text-align: center;
    font-size: 50px;
}

.contents {
    border: 1px solid #fffcdf;
}

.grid {
    text-align: center;
    margin: 0% 30% 0% 30%;
}

.detail {
    width: 49%;
    float: left;
}

.image {
    float: right;
    max-width: 100%;
}

footer p {
    clear: both;
    text-align: center;
    padding: 50px 0;
}

@media(max-width:1199px) {}

@media(max-width:767px) {}